*{
    padding: 0;
    margin: 0;
}

h1 {
    color: goldenrod;
    text-align: center;
}

body {
    background-color: green;
    margin-top: 0px;
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

p {
    text-align: center;
    color: white;
    margin-top: 30px;
}

#message-el {
    font-style: italic;
}

#start-game-btn {
    color: #016f32;
    width: 150px;
    background-color: goldenrod;
    border: none;
    display: block;
    margin: 0 auto;
    padding: 15px;
    font-size: large;
    border-radius: 3pxz;
}

#new-card-btn {
    color: #016f32;
    width: 150px;
    background-color: goldenrod;
    border: none;
    display: block;
    margin: 0 auto;
    padding: 15px;
    font-size: large;
    border-radius: 3pxz;
    margin-top: 4px;
}

#new-game {
    color: #016f32;
    width: 150px;
    background-color: goldenrod;
    border: none;
    display: block;
    margin: 0 auto;
    padding: 15px;
    font-size: large;
    border-radius: 3pxz;
    margin-top: 4px;

}